.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg);
}

.login-box {
  background: var(--secondary);
  padding: 30px;
  border: #2980b9 5px solid;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  text-align: center;
  width: 300px;
}

.login-box h2 {
  margin-bottom: 20px;
  color: var(--primary);
}

.login-box input {
  width: 100%;
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  background: var(--bg);
  color: var(--primary);
  outline: none;
  margin-bottom: 15px;
}

.login-box input:focus {
  box-shadow: 0 0 0 2px var(--primary);
}

.login-box button {
  width: 100%;
  padding: 10px 12px;
  border: none;
  background: var(--primary);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s ease;
}

.login-box button:hover {
  background: #2980b9;
}

.login-box button:active {
  transform: scale(0.97);
}
