:root {
  --primary: #3b82f6;
  --primary-dark: #1e40af;

  --bg: #0f172a;
  --surface: #1e293b;
  --card: #334155;

  --text-primary: #f1f5f9;
  --text-secondary: #94a3b8;

  --my-msg: #22c55e;
  --my-msg-dark: #15803d;

  --other-msg: #3b82f6;
  --other-msg-dark: #1d4ed8;

  --error: #ef4444;
}
