@import "/src/styles/colors.module.css";


.contenedor-chat{
    margin: 0 25%;
}

.message-list {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background: var(--text-primary);
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
