@import "/src/styles/colors.module.css";

.navbar {
  width: 100%;
  height: 60px;
  background: var(--surface);
  color: var(--text-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  border-bottom: 1px solid var(--card);
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary);
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.placeholder {
  font-size: 0.9rem;
  color: var(--text-secondary);
}
